h2{
    background-color: yellow;
    position: sticky;
    top: 0;
}
/* position: sticky làm phần tử dính vào phần tử cha có thanh cuốn gần nhất của nó */
.content{
    width: 300px;
    height: 500px;
    background-color: violet;
    overflow: auto;
}
.content ul li {
    list-style-type: none;
}