*{
    font-size: 20px;
}
.container{
    display:flex;
    background-color: #ee82ee;
    /* gap: 20px;Khoảng cách giữa các item con */
    /* justify-content: start; */
    /* justify-content: end; */
    /* justify-content: center; */
    /* justify-content: space-between; */
    /* justify-content: space-around; */
    justify-content: space-evenly;
    /* align-items: start; */
    /* align-items: stretch; */
    /* align-items: center; */
    /* align-items: end; */
    /* align-items: baseline; */
    height: 300px;

}
.box{
    background-color: aqua;
}
.box1{
    height: 200px;
    font-size: 3rem;
}