.line {
    word-spacing: 5px;
    /* text-align:center; */
    text-indent: 15px;
    /* text-decoration: underline; */
    line-height: 1.5;
}

.line2 {
    white-space: normal;
    word-break: break-all;
    text-shadow: 2px 2px 1px violet;
    /* trục ngang trục dọc độ nhòe */
}

.box {
    width: 200px;
    height: 100px;
    background-color: violet;
    overflow: auto;
    overscroll-behavior: contain;
}

/* width */
.box::-webkit-scrollbar {
    width: 10px;
}

/* Track */
.box::-webkit-scrollbar-track {
    background: rgb(125, 198, 125);
}

/* Handle */
.box::-webkit-scrollbar-thumb {
    background: yellow;
    border-radius: 50px;
}

/* Handle on hover */
.box::-webkit-scrollbar-thumb:hover {
    background: burlywood;
}