.container{
    height: 500px;
    background-color: aqua;
    display:flex;
    justify-content: center;
    align-items: start;
}
.box{
    background-color: blue;
    border:1px solid black;
}
.box1,.box4{
    /* align-self: flex-end; */
    flex-grow: 1;/*xác định tỉ lệ giữa các item*/
}
.box2,.box3{
    flex-grow: 2;
}