.box{
    counter-reset: section;/*tạo biến đếm*/
    padding-left: 30px;
}
h2{
    counter-increment: section;/*tăng biến đếm lên 1*/
    /* tạo biến đếm cho mục nhỏ hơn */
    counter-reset: subsection;
}
h2::before{
    content:"Phần "counter(section)": ";/*thêm vào đầu mỗi h2*/
    color: red;
}
h3{
    counter-increment: subsection;
    padding-left: 20px;
}
h3::before{
    content:counter(section)". "counter(subsection)": ";
}