/* body {
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  } */
body {
    font-family: "Inter", sans-serif;
}
p{
  font-weight: 400;
  line-height: 200%;
}