h1 {
    opacity: 100%;
    /* display:none; */
    /* visibility: hidden; */

}

/* body{
    background-image: url(bg.avif);
} */
img {
    transition: 1.5s;
}

input:checked ~ img {
    visibility: hidden
}

span {
    visibility: visible;
}