body{
    background-color: #ddd;
}
.container h1{
    font-size: 40px;
}
.container p{
    font-size:24px;
    line-height: 1.4;
}
.container{
    margin:0 auto;
    width:700px;
    text-align:center;
}
.container img{
    max-width: 500px;
    max-height:200px;
}